<%-include('header')%>






    <br>
    <h1>hii</h1>
    <form action="/admin/addproduct" method="post" enctype="multipart/form-data">

        <!-- New Product Add Start -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Information</h5>
                                    </div>


                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Product
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" placeholder="Product Name"
                                                name="productname" id="productname">
                                                <p id="nameError" style="color:red;"></p>
                                        </div>
                                        
                                    </div>
                                   



                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Category</label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100" name="category" id="category">
                                                <option value="" disabled selected>Select a category</option>
                                                <% for(let i=0;i<category.length;i++){%>

                                                    <option value="<%= category[i].name %>">
                                                        <%= category[i].name %>
                                                    </option>
                                                    <% } %>

                                            </select>
                                            <p id="catError" style="color:red"></p>
                                        </div>
                                    </div>


                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Brand</label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100" name="brand" id="brand">
                                                <option value="" disabled selected>Select brand</option>
                                                <% for(let i=0;i<brand.length;i++){%>

                                                    <option value="<%= brand[i].name %>">
                                                        <%= brand[i].name %>
                                                    </option>
                                                    <% } %>

                                            </select>
                                            <p id="brandError" style="color:red"></p>
                                        </div>
                                    </div>



                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Size</label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100" name="size" id="size">
                                                <option value="" disabled selected>Select a size</option>
                                                <option>S</option>
                                                <option>M</option>
                                                <option>L</option>
                                                <option>XL</option>


                                            </select>
                                            <p id="sizeError" style="color:red"></p>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 form-label-title">Quantity</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="number" placeholder="0" name="quantity"
                                                id="quantity">
                                                <p id="quantityError" style="color:red ;"></p>
                                        </div>
                                       
                                    </div>



                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Description</h5>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Description
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" placeholder="Description"
                                                name="description" id="description">
                                                <p id="descriptionError" style="color:red ;"></p>
                                        </div>
                                      

                                    </div>

                                    <!-- <div class="row">
                                                    <div class="col-12">
                                                        <div class="row">
                                                            <label class="form-label-title col-sm-3 mb-0"  name="description">Product
                                                                Description</label>
                                                            <div class="col-sm-9"  name="description">
                                                                <div id="editor"  name="description"></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div> -->

                                </div>
                            </div>

                            <!-- <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Images</h5>
                                    </div> -->

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Images</label>
                                        <div class="col-sm-9">
                                            <div class="field" >
                                            <h3>Upload your images</h3>
                                            <input type="file" id="formFile" name="image" multiple />
                                            </div>
                                            <!-- <input required name="image"
                                                class="form-control form-choose" type="file"
                                                id="formFile" accept="image/*" multiple> -->
                                        </div>
                                      <p id="ImageError" style="color:red ; margin-left: 275px;"></p>
                                    </div>
                                <!-- </div>
                            </div> -->





                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Price</h5>
                                    </div>


                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 form-label-title">price</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="number" placeholder="0" name="price"
                                                id="price">
                                        </div>
                                        <p id="priceError" style="color:red ; margin-left: 275px;"></p>
                                    </div>
                                    <!-- <div class="mb-4 row align-items-center">
                                                    <label class="col-sm-3 form-label-title">Offer
                                                        price</label>
                                                    <div class="col-sm-9">
                                                        <input class="oninput" type="number" placeholder="0" name="offerprice">
                                                    </div>
                                                </div> -->


                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Inventory</h5>
                                    </div>


                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Stock
                                            Status</label>
                                        <div class="col-sm-9">

                                            <select class="js-example-basic-single w-100" name="stock" id="stock">
                                                <option value="" disabled selected>Select stock status</option>
                                                <option>In Stock</option>
                                                <option>Out Of Stock</option>
                                                <option>On Backorder</option>
                                            </select>
                                        </div>
                                        <p id="stockError" style="color:red ; margin-left: 275px;"></p>
                                    </div>


                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-header option-title" style="margin-bottom: 70px; margin-right: 350px;">
            <h5></h5>

            <button class="align-items-center btn btn-theme d-flex" type="submit" onclick="validateForm(event)"><i
                    data-feather="plus"></i>Add product</button>

        </div>




    </form>
    <div class="title-header option-title" style="margin-bottom: 70px; margin-right: 350px;">
        <h5></h5>


    </div>




    </div>
    <style>
        input[type="file"] {
      display: block;
    }
    .imageThumb {
      max-height: 75px;
      border: 2px solid;
      padding: 1px;
      cursor: pointer;
    }
    .pip {
      display: inline-block;
      margin: 10px 10px 0 0;
    }
    
    </style>
    <script>
  
    </script>
    <script>
        
        function validateForm(event) {
                 
           
            const name = document.getElementById('productname').value
            
            const category = document.getElementById('category').value
           
            const size = document.getElementById('size').value
          
            const brand = document.getElementById('brand').value
           
            const description = document.getElementById('description').value
            
            const quantity = document.getElementById('quantity').value
             
            const price = document.getElementById('price').value
          
            const stock=document.getElementById('stock').value
            
            const image=document.getElementById('formFile').value
          
           
            
            const nameRegex = /^[A-Za-z]+(?: [A-Za-z]+)*$/;



            const catRegex = /^[A-Z][^0-9]*$/;
            const brandRegex = /^[A-Z][A-Za-z0-9]*[^\d]$/

            const quantityRegex = /^(?!0\d*$)\d+(\.\d+)?$/


            if (nameRegex.test(name)) {
                   nameError.innerHTML = ''
            } else {

                nameError.innerHTML = 'Invalid name'
                event.preventDefault()
            }

            if (category === '') {
               

                catError.innerHTML = ' Category is empty ,Enter a category name starting with capital letter'
                event.preventDefault()

            } else if (!catRegex.test(category)) {
               
                categoryError.innerHTML = 'Enter a category name starting with a capital letter.'
                event.preventDefault()
            } else {
                catError.innerHTML = ''
            }


            if (brandRegex.test(brand)) {
                
                brandError.innerHTML = ''
            } else {
              
                brandError.innerHTML = 'Enter a brand start with capital letter !'
                event.preventDefault()
            }

            if (size === '') {
               

                sizeError.innerHTML = ' Size is empty ,select a size'
                event.preventDefault()

            } else if (!catRegex.test(category)) {
              
                sizeError.innerHTML = 'Size is empty ,select a size'
                event.preventDefault()
            } else {
                sizeError.innerHTML = ''
            }
            if (quantityRegex.test(quantity)) {
                quantityError.innerHTML = ''
            } else {
                quantityError.innerHTML = 'Enter a valid quantity (non-zero & non-negative number)'
                event.preventDefault()
            }
            if(quantityRegex.test(price)){
                priceError.innerHTML=''
            }else{
                priceError.innerHTML='Enter a valid price'
                event.preventDefault()
            }
            if(nameRegex.test(description)){
                descriptionError.innerHTML=''
              }else{
            descriptionError.innerHTML='Enter a valid description'
            }

            if (stock === '') {
               

                stockError.innerHTML = ' stock is empty ,Enter the stock status'
                event.preventDefault()

            } else if (!catRegex.test(category)) {
              
                stockError.innerHTML = 'stock is empty ,Enter the stock status'
                event.preventDefault()
            } else {
                stockError.innerHTML = ''     
            }
            if(image.files.length===0 ){
                ImageError.innerHTML='Upload product images to continue'
                event.preventDefault()
            }else if( image.files.length<4){
                ImageError.innerHTML='Upload product images to continue'
                event.preventDefault()
            }else{
                ImageError.innerHTML=''
            }
        }
    </script>





    <!-- latest js -->
    <script src="/adminassets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/adminassets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/adminassets/js/icons/feather-icon/feather.min.js"></script>
    <script src="/adminassets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="/adminassets/js/scrollbar/simplebar.js"></script>
    <script src="/adminassets/js/scrollbar/custom.js"></script>

    <!-- Sidebar js -->
    <script src="/adminassets/js/config.js"></script>

    <!-- bootstrap tag-input js -->
    <script src="/adminassets/js/bootstrap-tagsinput.min.js"></script>
    <script src="/adminassets/js/sidebar-menu.js"></script>

    <!-- customizer js -->
    <script src="/adminassets/js/customizer.js"></script>

    <!--Dropzon js -->
    <script src="/adminassets/js/dropzone/dropzone.js"></script>
    <script src="/adminassets/js/dropzone/dropzone-script.js"></script>

    <!-- Plugins js -->
    <script src="/adminassets/js/notify/bootstrap-notify.min.js"></script>
    <script src="/adminassets/js/notify/index.js"></script>

    <!-- ck editor js -->
    <script src="/adminassets/js/ckeditor.js"></script>
    <script src="/adminassets/js/ckeditor-custom.js"></script>

    <!-- select2 js -->
    <script src="/adminassets/js/select2.min.js"></script>
    <script src="/adminassets/js/select2-custom.js"></script>

    <!-- sidebar effect -->
    <script src="/adminassets/js/sidebareffect.js"></script>

    <!-- Theme js -->
    <script src="/adminassets/js/script.js"></script>

    </body>


    <!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/add-new-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 14 Oct 2023 04:08:59 GMT -->

    </html>