<%-include('header')%>

    <style>
        #modal {
            display: none;
            justify-content: center;
            align-items: center;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
        }

        #modal-container {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            max-width: 80%;
            /* Adjust the width as needed */
            max-height: 80vh;
            /* Adjust the height as needed */
            overflow: auto;
        }

        #cropper-container {
            max-width: 100%;
            max-height: 60vh;
            /* Adjust the height as needed */
            overflow: hidden;
        }

        #crop-confirm {
            margin-top: 10px;
            cursor: pointer;
        }

        #galleryImages,
        #cropper {
            width: 100%;
            float: left;
        }

        canvas {
            max-width: 100%;
            display: inline-block;
        }

        #cropperImg {
            max-width: 0;
            max-height: 0;
        }

        #cropImageBtn {
            display: none;
        }

        img {
            width: 100%;
        }

        .img-preview {
            float: left;
        }

        .singleImageCanvasContainer {
            max-width: 300px;
            display: inline-block;
            position: relative;
            margin: 2px;
        }

        .singleImageCanvasCloseBtn {
            position: absolute;
            top: 5px;
            right: 5px;
        }
    </style>


    <link rel="stylesheet" href="/node_modules/cropperjs/dist/cropper.min.css">
    <script src="/node_modules/cropperjs/dist/cropper.min.js"></script>

    <br>
    <h1>hii</h1>
    <form action="/admin/addproduct" method="post" enctype="multipart/form-data">


        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="row">
                        <div class="col-sm-8 m-auto">
                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Information</h5>
                                    </div>


                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Product
                                            Name</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" placeholder="Product Name"
                                                name="productname" id="productname">
                                            <p id="nameError" style="color:red;"></p>
                                        </div>

                                    </div>




                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Category</label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100" name="category" id="category">
                                                <option value="" disabled selected>Select a category</option>
                                                <% for(let i=0;i<category.length;i++){%>

                                                    <option value="<%= category[i].name %>">
                                                        <%= category[i].name %>
                                                    </option>
                                                    <% } %>

                                            </select>
                                            <p id="catError" style="color:red"></p>
                                        </div>
                                    </div>


                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Brand</label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100" name="brand" id="brand">
                                                <option value="" disabled selected>Select brand</option>
                                                <% for(let i=0;i<brand.length;i++){%>

                                                    <option value="<%= brand[i].name %>">
                                                        <%= brand[i].name %>
                                                    </option>
                                                    <% } %>

                                            </select>
                                            <p id="brandError" style="color:red"></p>
                                        </div>
                                    </div>



                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Size</label>
                                        <div class="col-sm-9">
                                            <select class="js-example-basic-single w-100" name="size" id="size">
                                                <option value="" disabled selected>Select a size</option>
                                                <option>S</option>
                                                <option>M</option>
                                                <option>L</option>
                                                <option>XL</option>


                                            </select>
                                            <p id="sizeError" style="color:red"></p>
                                        </div>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 form-label-title">Quantity</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="number" placeholder="0" name="quantity"
                                                id="quantity">
                                            <p id="quantityError" style="color:red ;"></p>
                                        </div>

                                    </div>



                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Description</h5>
                                    </div>

                                    <div class="mb-4 row align-items-center">
                                        <label class="form-label-title col-sm-3 mb-0">Description
                                        </label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="text" placeholder="Description"
                                                name="description" id="description">
                                            <p id="descriptionError" style="color:red ;"></p>
                                        </div>


                                    </div>
                                </div>
                            </div>


                            <div class="mb-4 row align-items-center">
                                <label class="col-sm-3 col-form-label form-label-title">Images</label>
                                <div class="col-sm-9">
                                    <div class="field">
                                        <h3>Upload your images</h3>
                                        <input type="file" id="formFile" name="image" multiple />
                                    </div>

                                </div>
                                <p id="ImageError" style="color:red ; margin-left: 275px;"></p>
                            </div>

                            <div id="image-preview-container" style="display: flex; flex-wrap: wrap;"></div>





                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Price</h5>
                                    </div>


                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 form-label-title">price</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" type="number" placeholder="0" name="price"
                                                id="price">
                                        </div>
                                        <p id="priceError" style="color:red ; margin-left: 275px;"></p>
                                    </div>
                                </div>
                            </div>

                            <div class="card">
                                <div class="card-body">
                                    <div class="card-header-2">
                                        <h5>Product Inventory</h5>
                                    </div>


                                    <div class="mb-4 row align-items-center">
                                        <label class="col-sm-3 col-form-label form-label-title">Stock
                                            Status</label>
                                        <div class="col-sm-9">

                                            <select class="js-example-basic-single w-100" name="stock" id="stock">
                                                <option value="" disabled selected>Select stock status</option>
                                                <option>In Stock</option>
                                                <option>Out Of Stock</option>
                                                <option>On Backorder</option>
                                            </select>
                                        </div>
                                        <p id="stockError" style="color:red ; margin-left: 275px;"></p>
                                    </div>


                                </div>
                            </div>




                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="title-header option-title" style="margin-bottom: 70px; margin-right: 350px;">
            <h5></h5>

            <button class="align-items-center btn btn-theme d-flex" type="submit" onclick="validateForm(event)"><i
                    data-feather="plus"></i>Add product</button>

        </div>




    </form>
    <div class="title-header option-title" style="margin-bottom: 70px; margin-right: 350px;">
        <h5></h5>


    </div>




    </div>
    <style>
        input[type="file"] {
            display: block;
        }

        .imageThumb {
            max-height: 75px;
            border: 2px solid;
            padding: 1px;
            cursor: pointer;
        }

        .pip {
            display: inline-block;
            margin: 10px 10px 0 0;
        }
    </style>
    <script>

    </script>

    <script>

        function validateForm(event) {


            const name = document.getElementById('productname').value

            const category = document.getElementById('category').value

            const size = document.getElementById('size').value

            const brand = document.getElementById('brand').value

            const description = document.getElementById('description').value

            const quantity = document.getElementById('quantity').value

            const price = document.getElementById('price').value

            const stock = document.getElementById('stock').value

            const image = document.getElementById('formFile')

            var totalImages = parseInt(image.files.length)

            const nameRegex = /^[A-Za-z]+(?: [A-Za-z]+)*$/;




            const catRegex = /^[A-Z][^0-9]*$/;
            const brandRegex = /^[A-Z][A-Za-z0-9]*[^\d]$/

            const quantityRegex = /^(?!0\d*$)\d+(\.\d+)?$/
            const descriptionRegex = /^(?!\s)[\s\S]*\S$/;

            if (nameRegex.test(name)) {
                nameError.innerHTML = ''
            } else {

                nameError.innerHTML = 'Invalid name'
                event.preventDefault()
            }

            if (category === '') {


                catError.innerHTML = ' Category is empty ,Enter a category name starting with capital letter'
                event.preventDefault()

            } else if (!catRegex.test(category)) {

                categoryError.innerHTML = 'Enter a category name starting with a capital letter.'
                event.preventDefault()
            } else {
                catError.innerHTML = ''
            }


            if (brandRegex.test(brand)) {

                brandError.innerHTML = ''
            } else {

                brandError.innerHTML = 'Enter a brand start with capital letter !'
                event.preventDefault()
            }

            if (size === '') {


                sizeError.innerHTML = ' Size is empty ,select a size'
                event.preventDefault()

            } else if (!catRegex.test(category)) {

                sizeError.innerHTML = 'Size is empty ,select a size'
                event.preventDefault()
            } else {
                sizeError.innerHTML = ''
            }
            if (quantityRegex.test(quantity)) {
                quantityError.innerHTML = ''
            } else {
                quantityError.innerHTML = 'Enter a valid quantity (non-zero & non-negative number)'
                event.preventDefault()
            }
            if (quantityRegex.test(price)) {
                priceError.innerHTML = ''
            } else {
                priceError.innerHTML = 'Enter a valid price'
                event.preventDefault()
            }
            if (descriptionRegex.test(description)) {
                descriptionError.innerHTML = ''
            } else {
                descriptionError.innerHTML = 'Enter a valid description'
            }

            if (stock === '') {


                stockError.innerHTML = ' stock is empty ,Enter the stock status'
                event.preventDefault()

            } else if (!catRegex.test(category)) {

                stockError.innerHTML = 'stock is empty ,Enter the stock status'
                event.preventDefault()
            } else {
                stockError.innerHTML = ''
            }
            var validImageTypes = ['image/jpeg', 'image/png', 'image/gif', 'image/webp'];
            for (var i = 0; i < image.files.length; i++) {
                var fileType = image.files[i].type

                if (!validImageTypes.includes(fileType)) {

                    ImageError.innerHTML = 'Upload images with jpeg / png / gif formats '
                    event.preventDefault()
                    return
                }
            }

            if (totalImages < 4) {

                ImageError.innerHTML = 'Upload atleast 1 image !'
                event.preventDefault()
            } else if (totalImages > 4) {

                ImageError.innerHTML = 'Maximum 4 product images is allowed !'
                event.preventDefault()
            } else {

                ImageError.innerHTML = ''

            }
        }

        document.addEventListener('DOMContentLoaded', function () {
            var input = document.getElementById('formFile');
            var imagePreviewContainer = document.getElementById('image-preview-container');

            input.addEventListener('change', function () {
                displayImages(input);
            })

            function displayImages(input) {
                var files = input.files;

                for (var i = 0; i < files.length; i++) {

                    var reader = new FileReader();

                    reader.onload = (function (file, index) {

                        return function (e) {
                            var image = new Image();
                            image.src = e.target.result;
                            image.style.maxWidth = '200px';

                            var cropButton = document.createElement('button')
                            cropButton.className = 'crop-button';
                            cropButton.textContent = 'Crop Image';
                            cropButton.addEventListener('click', function (event) {
                                event.preventDefault()
                                openSingleCropper(image, cropButton, input, index);
                                cropButton.style.display = 'none'
                            });


                            var imageContainer = document.createElement('div');
                            imageContainer.style.marginRight = '10px';
                            imageContainer.appendChild(image);
                            imageContainer.appendChild(cropButton);
                            imagePreviewContainer.appendChild(imageContainer);
                        };
                    })(files[i], i);

                    reader.readAsDataURL(files[i]);
                }
            }

            function openSingleCropper(image, cropButton, input, index) {

                var cropper = new Cropper(image, {
                    aspectRatio: 1,
                    viewMode: 1,
                    crop: function (event) {

                    }
                })
                cropButton.style.display = 'none';
                var saveButton = document.createElement('button');
                saveButton.className = 'save-button';
                saveButton.textContent = 'Save';
                saveButton.addEventListener('click', function (event) {

                    event.preventDefault()
                    saveCroppedImage(cropper, image, cropButton, saveButton, input, index);
                });

                var imageContainer = image.parentElement
                imageContainer.appendChild(saveButton);

            }
            function saveCroppedImage(cropper, originalImage, cropButton, saveButton, input, imageIndex) {

                var canvas = cropper.getCroppedCanvas();
                var croppedImageDataURL = canvas.toDataURL();


                console.log('Cropped Image Data URL:', croppedImageDataURL)
                cropper.destroy();

                saveButton.style.display = 'none'
                cropButton.style.display = ''

                try {

                    var blob = dataURLtoBlob(croppedImageDataURL)

                    var file = new File([blob], 'cropped_img.png', { type: 'image/png' })



                    originalImage.src = croppedImageDataURL


                } catch (error) {
                    alert('error in changing the input image', error)
                }
              
            }
    
          

            function dataURLtoBlob(dataURL) {
                var arr = dataURL.split(','),
                    mime = arr[0].match(/:(.*?);/)[1],
                    bstr = atob(arr[1]),
                    n = bstr.length,
                    u8arr = new Uint8Array(n);

                while (n--) {
                    u8arr[n] = bstr.charCodeAt(n);
                }

                return new Blob([u8arr], { type: mime });
            }
        });
    </script>





    <!-- latest js -->
    <script src="/adminassets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/adminassets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/adminassets/js/icons/feather-icon/feather.min.js"></script>
    <script src="/adminassets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="/adminassets/js/scrollbar/simplebar.js"></script>
    <script src="/adminassets/js/scrollbar/custom.js"></script>

    <!-- Sidebar js -->
    <script src="/adminassets/js/config.js"></script>

    <!-- bootstrap tag-input js -->
    <script src="/adminassets/js/bootstrap-tagsinput.min.js"></script>
    <script src="/adminassets/js/sidebar-menu.js"></script>

    <!-- customizer js -->
    <script src="/adminassets/js/customizer.js"></script>

    <!--Dropzon js -->
    <script src="/adminassets/js/dropzone/dropzone.js"></script>
    <script src="/adminassets/js/dropzone/dropzone-script.js"></script>

    <!-- Plugins js -->
    <script src="/adminassets/js/notify/bootstrap-notify.min.js"></script>
    <script src="/adminassets/js/notify/index.js"></script>

    <!-- ck editor js -->
    <script src="/adminassets/js/ckeditor.js"></script>
    <script src="/adminassets/js/ckeditor-custom.js"></script>

    <!-- select2 js -->
    <script src="/adminassets/js/select2.min.js"></script>
    <script src="/adminassets/js/select2-custom.js"></script>

    <!-- sidebar effect -->
    <script src="/adminassets/js/sidebareffect.js"></script>

    <!-- Theme js -->
    <script src="/adminassets/js/script.js"></script>

    </body>


    <!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/add-new-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 14 Oct 2023 04:08:59 GMT -->

    </html>