<%- include('header') %>


    <div class="page-body">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    <div class="card card-table">
                        <div class="card-body">
                            <div class="title-header option-title d-sm-flex d-block">
                                <h5>Products List</h5>
                                <div class="right-options">
                                    <ul>

                                        <li>
                                            <a class="btn btn-solid" href="/admin/createCoupon">Add coupon</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div>
                                <div class="table-responsive">
                                    <table class="table all-package theme-table table-product" id="table_id">
                                        <thead>
                                            <tr>

                                                <th>Coupon Name</th>
                                                <th>Coupon Code</th>
                                                <th>Discount %</th>
                                                <th>Minimum purchase</th>
                                                <th>Start Date</th>
                                                <th>Expiry</th>
                                                <th>Edit</th>
                                                <th>Remove</th>

                                            </tr>
                                        </thead>

                                        <tbody>
                                            <% for(let i=0;i<coupons.length;i++){ %>
                                            <tr>
                                               

                                                    <td>
                                                        <%= coupons[i].name %>
                                                    </td>

                                                    <td>
                                                        <%= coupons[i].code%>
                                                    </td>

                                                    <td>
                                                        <%= coupons[i].discount %>%
                                                    </td>

                                                    <td class="td-price">₹<%= coupons[i].minprice%>
                                                    </td>

                                                    <td class="td-price">
                                                        <%= coupons[i].startdate.toDateString()%>
                                                    </td>
                                                    <td class="td-price">
                                                        <%= coupons[i].Enddate.toDateString()%>
                                                    </td>

                                                    <td><a href="/admin/editCoupon?id=<%= coupons[i]._id%>">
                                                            <i class="ri-pencil-line"></i>
                                                        </a></td>
                                                    </td>
                                                    <td>
                                                        <a data-bs-toggle="modal"
                                                        data-bs-target="#confirmationModal<%= coupons[i]._id %>">
                                                        <i class="ri-delete-bin-line"  ></i>
                                                    </a>
                                                    </td>
                                                    <div class="modal fade" id="confirmationModal<%= coupons[i]._id%>" data-bs-backdrop="static" data-bs-keyboard="false"
                                                    tabindex="-1">
                                                    <div class="modal-dialog  modal-dialog-centered">
                                                        <div class="modal-content">
                                                            <div class="modal-body">
                                                                <h5 class="modal-title" id="staticBackdropLabel">Delete coupon</h5>
                                                                <p>Are you sure you want to delete the coupon?</p>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                                <div class="button-box">
                                                                    <button type="button" class="btn btn--no" data-bs-dismiss="modal">No</button>
                                                                    <button type="button"onclick="deleteCoupon('<%= coupons[i]._id%>')" class="btn  btn--yes btn-primary">Yes</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>     
                                                       
                                                    
                                               
                                            </tr>

                                            <% } %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% if (locals.totalPages) { %>
            <!-- Bootstrap Pagination -->
            <nav aria-label="Page navigation" style="margin-bottom: 60px;size:px ;">
                <ul class="pagination justify-content-center">
                    <% if (locals.currentPage> 1) { %>
                        <li class="page-item">
                            <a class="page-link btn-dark" href="?page=<%= locals.currentPage - 1 %>" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <% } else { %>
                            <li class="page-item disabled">
                                <span class="page-link btn-dark" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </span>
                            </li>
                            <% } %>
    
                                <% for (let i=1; i <=locals.totalPages; i++) { %>
                                    <li class="page-item <%= i === locals.currentPage ? 'active' : '' %>">
                                        <a class="page-link btn-dark" href="?page=<%= i %>">
                                            <%= i %>
                                        </a>
                                    </li>
                                    <% } %>
    
                                        <% if (locals.currentPage < locals.totalPages){ %>
                                            <li class="page-item">
                                                <a class="page-link btn" href="?page=<%= locals.currentPage + 1 %>"
                                                    aria-label="Next">
                                                    <span aria-hidden="true">&raquo;</span>
                                                </a>
                                            </li>
                                            <% } else { %>
                                                <li class="page-item disabled">
                                                    <span class="page-link btn" aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </span>
                                                </li>
                                                <% } %>
                </ul>
            </nav>
            <% } %>



    </div>

<script>
    function deleteCoupon(id){
       
        $.ajax({
            url:'/admin/deleteCoupon',
            method:'get',
            data:{
                CouponID:id
            },
            success:function(response){
if(response.deleted){
    location.href='/admin/couponPage'
}
            }
        })
    }
</script>


    <!-- latest js -->
    <script src="/adminassets/js/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap js -->
    <script src="/adminassets/js/bootstrap/bootstrap.bundle.min.js"></script>

    <!-- feather icon js -->
    <script src="/adminassets/js/icons/feather-icon/feather.min.js"></script>
    <script src="/adminassets/js/icons/feather-icon/feather-icon.js"></script>

    <!-- scrollbar simplebar js -->
    <script src="/adminassets/js/scrollbar/simplebar.js"></script>
    <script src="/adminassets/js/scrollbar/custom.js"></script>

    <!-- Sidebar js -->
    <script src="/adminassets/js/config.js"></script>

    <!-- bootstrap tag-input js -->
    <script src="/adminassets/js/bootstrap-tagsinput.min.js"></script>
    <script src="/adminassets/js/sidebar-menu.js"></script>

    <!-- customizer js -->
    <script src="/adminassets/js/customizer.js"></script>

    <!--Dropzon js -->
    <script src="/adminassets/js/dropzone/dropzone.js"></script>
    <script src="/adminassets/js/dropzone/dropzone-script.js"></script>

    <!-- Plugins js -->
    <script src="/adminassets/js/notify/bootstrap-notify.min.js"></script>
    <script src="/adminassets/js/notify/index.js"></script>

    <!-- ck editor js -->
    <script src="/adminassets/js/ckeditor.js"></script>
    <script src="/adminassets/js/ckeditor-custom.js"></script>

    <!-- select2 js -->
    <script src="/adminassets/js/select2.min.js"></script>
    <script src="/adminassets/js/select2-custom.js"></script>

    <!-- sidebar effect -->
    <script src="/adminassets/js/sidebareffect.js"></script>

    <!-- Theme js -->
    <script src="/adminassets/js/script.js"></script>

    </body>


    <!-- Mirrored from themes.pixelstrap.com/fastkart/back-end/add-new-product.html by HTTrack Website Copier/3.x [XR&CO'2014], Sat, 14 Oct 2023 04:08:59 GMT -->

    </html>