<%-include('homeHeader') %>




    <link rel="stylesheet" href="/evarassets/css/main.css?v=3.4">


	<style>
		.pagination {
			font-size: 18px;
		}

		.page-item {
			width: 40px;
			height: 40px;
			margin: 5px;
		}

		.page-link {
			background-color: #000;
			color: #fff;
			border: 1px solid #000;
			border-radius: 0;
			min-width: 40px;
			text-align: center;
			padding: 0;
			line-height: 40px;
		}

		.page-item.active .page-link {
			background-color: #000;
			border-color: #000;
		}

		.page-item:last-child .page-link {
			background-color: #fff;
			/* Set the background color to white for the last button */
			color: #000;
			/* Set the text color to black for the last button */
		}

		.page-item:first-child .page-link {
			background-color: #fff;
			/* Set the background color to white for the first button (Previous) */
			color: #000;
			/* Set the text color to black for the first button (Previous) */
		}



	</style>

    <main class="main" style="margin-top: -100px;">
        <div class="section block-breadcrumb">
            <div class="container">
                <div class="breadcrumbs">
                    <ul>
                        <li> <a href="/"> </a></li>
                        <li> <a href="/account"></a></li>
                        <li> <a href="/account/orders"></a></li>

                    </ul>
                </div>
            </div>
        </div>

        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist">
                                        <li class="nav-item">
                                            <a class="nav-link " id="account-detail-tab" href="/profile" role="tab"
                                                aria-controls="account-detail" aria-selected="true"><i
                                                    class="fi-rs-user mr-10"></i>Account Information</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="track-orders-tab" href="/UserAddress" role="tab"
                                                aria-controls="track-orders" aria-selected="false"><i
                                                    class="fi-rs-shopping-cart-check mr-10"></i>Add Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" href="/ManageAddress" role="tab"
                                                aria-controls="address" aria-selected="true"><i
                                                    class="fi-rs-marker mr-10"></i>Manage Address</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link active" id="orders-tab" href="/ordersPage" role="tab"
                                                aria-controls="orders" aria-selected="false"><i
                                                    class="fi-rs-shopping-bag mr-10"></i>Orders</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" id="wallet-tab" href="/walletPage" role="tab"
                                                aria-controls="walley" aria-selected="false"><i
                                                    class="fi-rs-settings-sliders mr-10"></i>Wallet</a>
                                        </li>
                                     
                                        <li class="nav-item">
                                            <a class="nav-link" href="/logout"><i
                                                    class="fi fi-rs-sign-out mr-10"></i>Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">

                                    <div class="card">
                                        <div class="card-header">
                                            <h5 class="mb-0">Your Orders</h5>
                                        </div>
                                        <div class="card-body">
                                            <div class="table-responsive">
                                                <% if(orders.length){ %>
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                           
                                                                <th>Status</th>
                                                                <th>Total</th>
                                                                <th>Details</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>

                                                            <% for(let i=0;i<orders.length;i++){ %>
                                                                <tr>
                                                                    <td>
                                                                        <%=new Date(orders[i].createdOn.getTime() - (5 * 60 * 60 * 1000)).toLocaleDateString('en-IN', { timeZone: 'Asia/Kolkata' }) %>
                                                                    </td>
                                                                   
                                                                    <td>
                                                                        <%= orders[i].status %>
                                                                    </td>
                                                                    <td>₹<%= orders[i].totalprice%>
                                                                    </td>

                                                                    <td><a href="/orderDetails/<%= orders[i]._id %>"
                                                                            class="btn-small d-block">View</a></td>
                                                                </tr>
                                                                <% } %>

                                                        </tbody>

                                                    </table>
                                                    <% }else{ %>
                                                        <h3 style="margin-left: 180px;">No orders to show ! </h3>
                                                        <img src="https://media.istockphoto.com/id/861576608/vector/empty-shopping-bag-icon-online-business-vector-icon-template.jpg?s=612x612&w=0&k=20&c=I7MbHHcjhRH4Dy0NVpf4ZN4gn8FVDnwn99YdRW2x5k0="
                                                            alt="">
                                                        <% } %>

                                            </div>
                                        </div>


                                    </div>


                                </div>
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
               
            </div>
            <% if (locals.totalPages) { %>
                <!-- Bootstrap Pagination -->
                <nav aria-label="Page navigation" style="margin-left: 350px;margin-top: px;" >
                    <ul class="pagination justify-content-center">
                        <% if (locals.currentPage> 1) { %>
                            <li class="page-item">
                                <a class="page-link btn-dark" href="ordersPage?page=<%= locals.currentPage - 1 %>" aria-label="Previous">
                                    <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <% } else { %>
                                <li class="page-item disabled">
                                    <span class="page-link btn-dark" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </span>
                                </li>
                                <% } %>
        
                                    <% for (let i=1; i <=locals.totalPages; i++) { %>
                                        <li class="page-item <%= i === locals.currentPage ? 'active' : '' %>">
                                            <a class="page-link btn-dark" href="/ordersPage?page=<%= i %>">
                                                <%= i %>
                                            </a>
                                        </li>
                                        <% } %>
        
                                            <% if (locals.currentPage < locals.totalPages){ %>
                                                <li class="page-item">
                                                    <a class="page-link btn" href="?page=<%= locals.currentPage + 1 %>"
                                                        aria-label="Next">
                                                        <span aria-hidden="true">&raquo;</span>
                                                    </a>
                                                </li>
                                                <% } else { %>
                                                    <li class="page-item disabled">
                                                        <span class="page-link btn" aria-label="Next">
                                                            <span aria-hidden="true">&raquo;</span>
                                                        </span>
                                                    </li>
                                                    <% } %>
                                               </ul>
                                           </nav>
                                      <% } %>
        </section>
     
</main>

<%- include('footer') %>
            <style>
                .pagination li a.active,
                .pagination li a:hover {
                    background-color: #ededed;
                    color: #000;
                }

                .page-item:last-child .page-link {
                    border-top-right-radius: 1cm;
                    border-top-left-radius: 1cm;
                    border-bottom-right-radius: 1cm;
                    border-bottom-left-radius: 1cm;
                }

                .page-item:first-child .page-link {
                    border-top-right-radius: 1cm;
                    border-top-left-radius: 1cm;
                    border-bottom-right-radius: 1cm;
                    border-bottom-left-radius: 1cm;
                }
            </style>
    



            <script src="/evarassets/js/vendor/modernizr-3.6.0.min.js"></script>
            <script src="/evarassets/js/vendor/jquery-3.6.0.min.js"></script>
            <script src="/evarassets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
            <script src="/evarassets/js/vendor/bootstrap.bundle.min.js"></script>
            <script src="/evarassets/js/plugins/slick.js"></script>
            <script src="/evarassets/js/plugins/jquery.syotimer.min.js"></script>
            <script src="/evarassets/js/plugins/wow.js"></script>
            <script src="/evarassets/js/plugins/jquery-ui.js"></script>
            <script src="/evarassets/js/plugins/perfect-scrollbar.js"></script>
            <script src="/evarassets/js/plugins/magnific-popup.js"></script>
            <script src="/evarassets/js/plugins/select2.min.js"></script>
            <script src="/evarassets/js/plugins/waypoints.js"></script>
            <script src="/evarassets/js/plugins/counterup.js"></script>
            <script src="/evarassets/js/plugins/jquery.countdown.min.js"></script>
            <script src="/evarassets/js/plugins/images-loaded.js"></script>
            <script src="/evarassets/js/plugins/isotope.js"></script>
            <script src="/evarassets/js/plugins/scrollup.js"></script>
            <script src="/evarassets/js/plugins/jquery.vticker-min.js"></script>
            <script src="/evarassets/js/plugins/jquery.theia.sticky.js"></script>
            <!-- Template  JS -->
            <script src="/evarassets/js/main.js?v=3.4"></script>


            <!--===============================================================================================-->
            <script src="/vendor/jquery/jquery-3.2.1.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/animsition/js/animsition.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/bootstrap/js/popper.js"></script>
            <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/select2/select2.min.js"></script>
            <script>
                $(".js-select2").each(function () {
                    $(this).select2({
                        minimumResultsForSearch: 20,
                        dropdownParent: $(this).next('.dropDownSelect2')
                    });
                })
            </script>
            <!--===============================================================================================-->
            <script src="vendor/daterangepicker/moment.min.js"></script>
            <script src="vendor/daterangepicker/daterangepicker.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/slick/slick.min.js"></script>
            <script src="js/slick-custom.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/parallax100/parallax100.js"></script>
            <script>
                $('.parallax100').parallax100();
            </script>
            <!--===============================================================================================-->
            <script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
            <script>
                $('.gallery-lb').each(function () { // the containers for all your galleries
                    $(this).magnificPopup({
                        delegate: 'a', // the selector for gallery item
                        type: 'image',
                        gallery: {
                            enabled: true
                        },
                        mainClass: 'mfp-fade'
                    });
                });
            </script>
            <!--===============================================================================================-->
            <script src="vendor/isotope/isotope.pkgd.min.js"></script>
            <!--===============================================================================================-->
            <script src="vendor/sweetalert/sweetalert.min.js"></script>
            <script>
                $('.js-addwish-b2, .js-addwish-detail').on('click', function (e) {
                    e.preventDefault();
                });

                $('.js-addwish-b2').each(function () {
                    var nameProduct = $(this).parent().parent().find('.js-name-b2').html();
                    $(this).on('click', function () {
                        swal(nameProduct, "is added to wishlist !", "success");

                        $(this).addClass('js-addedwish-b2');
                        $(this).off('click');
                    });
                });

                $('.js-addwish-detail').each(function () {
                    var nameProduct = $(this).parent().parent().parent().find('.js-name-detail').html();

                    $(this).on('click', function () {
                        swal(nameProduct, "is added to wishlist !", "success");

                        $(this).addClass('js-addedwish-detail');
                        $(this).off('click');
                    });
                });

                /*---------------------------------------------*/

                $('.js-addcart-detail').each(function () {
                    var nameProduct = $(this).parent().parent().parent().parent().find('.js-name-detail').html();
                    $(this).on('click', function () {
                        swal(nameProduct, "is added to cart !", "success");
                    });
                });

            </script>
            <!--===============================================================================================-->
            <script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
            <script>
                $('.js-pscroll').each(function () {
                    $(this).css('position', 'relative');
                    $(this).css('overflow', 'hidden');
                    var ps = new PerfectScrollbar(this, {
                        wheelSpeed: 1,
                        scrollingThreshold: 1000,
                        wheelPropagation: false,
                    });

                    $(window).on('resize', function () {
                        ps.update();
                    })
                });
            </script>
            <!--===============================================================================================-->
            <script src="/js/main.js"></script>
            </body>

            </html>